<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>

<body>
    <ul>
        <% games.forEach(function(game) { %>
            <li>
                <strong> <%= game.name %> </strong>
                <p> <%= game.description %> </p>
                <p> Genres:
                    <% game.genres.forEach(function(genre, index) { %>
                        <%= genre.name %><%= index < game.genres.length - 1 ? ',' : '' %>
                    <% }); %>
                </p> 
                <p> Developer: <%= game.developer.name %> </p>
                <p> Price: <%= game.price %> </p>
            </li>
        <% }); %>
    </ul>
</body>
</html> 
