<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>

<body>
    <h1> <%= title %> </h1>
    <ul>
        <% games.forEach(function(game) { %>
            <li>
                <strong> <%= game.name %> </strong>
                <p> <%= game.description %> </p>
                <% console.log(game.genres); %>
                <p> Genres:
                    <% game.genres.forEach(function(genre, index) { %>
                        <%= genre %><%= index < game.genres.length - 1 ? ',' : '' %>
                    <% }); %>
                </p> 
                <p> Developer: <%= game.developer %> </p>
                <p> Price: <%= game.price %> </p>
                <a href="/games/edit/<%= game.game_id %>">Edit</a>
                <a href="/games/delete/<%= game.game_id %>">Delete</a>
            </li>
        <% }); %>
    </ul>
    <button onclick="window.location.href='/games/add'">Add a new game</button>
</body>
</html> 
